{% extends "aplicacion/index.html" %}
{% load static %}

{% block Body %}
<header class="mastheadconsultas">
    <br>
    {% if mensaje %}
    <h4>
        <p class="datos-invalidos">
        {{ mensaje }}
        </p>
    </h4>
    {% endif %}

    <form action="{% url 'buscar_paciente2' %}" id="FormularioConsulta" style="width: auto;" class="container" method="get">
        
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre del paciente">
        
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido del paciente">
        
        <button class="pacientebtn" style="width:100%;" type="submit">Buscar Paciente</button>
    </form>
</header>

{% endblock Body %}